h1 {
  background-color: rgb(182, 251, 251);
}
.p1{
  color: #3a0433;
  background-color: #f1fc99;
}
.p2{
  background-color: #ff9b9b;  
}
#h2{
  background-color: #97f7ad;
  border-radius: 25px;
  padding: 30px 40px;  
  border: 10px solid #601055;  
  margin-left: 120px;   
}
img {
  border-radius: 25%;
}